
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/frontend/static/signupTheme.css">
</head>
<body>
    <div class="form-container">
        <form id="signUpForm">
            <h1>Sign Up</h1>
            <select id="user_type" required>
                <option value="">Select user type</option>
                <option value="Student">Student</option>
                <option value="Teacher">Teacher</option>
                <option value="Admin">Admin</option>
            </select>
            <input type="text" id="first_name" placeholder="First name" required>
            <input type="text" id="last_name" placeholder="Last name" required>
            <input type="text" id="username" placeholder="Username" required>
            <input type="email" id="email" placeholder="Email address" required>
            <input type="password" id="password" placeholder="Password" required>
            <input type="password" id="confirm_password" placeholder="Confirm password" required>
            <button type="submit">Create Account</button>
            <div class="secondary-options">
                <p>Already have an account? <a href="#">Sign in now.</a></p>
            </div>
        </form>
    </div>
    <script src="/frontend/app.js"></script>
</body>
</html>
