<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/signupTheme.css"> <!-- Link to the CSS file -->
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>Sign Up</h1>
            <form id="signUpForm">
                <div class="form-group">
                    <input type="text" id="first_name" placeholder="First Name" required>
                </div>
                <div class="form-group">
                    <input type="text" id="last_name" placeholder="Last Name" required>
                </div>
                <div class="form-group">
                    <input type="text" id="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input type="email" id="email" placeholder="Email Address" required>
                </div>
                <div class="form-group">
                    <input type="password" id="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <input type="password" id="confirm_password" placeholder="Confirm Password" required>
                </div>
                <div class="form-group">
                    <select id="user_type" required>
                        <option value="">Select user type</option>
                        <option value="Student">Student</option>
                        <option value="Teacher">Teacher</option>
                        <option value="Admin">Admin</option>
                    </select>
                </div>
                <button type="submit">Create Account</button>
            </form>
            <div class="secondary-options">
                <p>Already have an account? <a href="login.html">Sign in now.</a></p>
            </div>
        </div>
    </div>
    <script src="/frontend/app.js"></script>
</body>
</html>
